* {
    margin: 0;
    padding: 0;
    font-family: Kanit;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/* head */

header {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#head {
    display: flex;
    color: #164176;
    height: 110px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#headerlogo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #164176;
}

#headerlogo a {
    color: #164176;
}

#header_info {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-content: center;  
}

#header_info svg {
    width: 25px;
    height: 25px;
    margin: 0px 10px;
}

#header_contain {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
    align-items: center;
}

/* menubar */

#menubar {
    background-color: #ff3900;
    display: block;
    background-image: linear-gradient(to right, #ff3900 , #ffc800);
    align-items: center;
}

.dropdown .dropdown-menu li {
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#menubar_item > .navbar-item > .dropdown-menu > li > a {
    color: #fff;
}

.dropdown-menu {
    background-color: #f65403;
    border: none;
    opacity: 0.8;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li a:hover:not(.active) {
    display: block;
    color: #FFF;
    /* transform: scale(1.02); */
    background-color: #fda33c;
}

.navbar-nav li a.active {
    color: #fff;
}

#menubar div button {
    color: #fff;
}

#btn-login {
    color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
}

#btn-login:hover:not(.active) {
    /* font-weight: bolder; */
    color: #fff;
    transform: scale(1.1);
}

/* image slide */

#image-slide img{
    max-width: 100%;
    height: auto!important;
}

/* icon-menu */

#icon-menu a {
    color: #164176;
    font-size: medium;
    font-weight: 500;
}

#icon-menu img {
    width: 100px;
}

#icon-menu p {
    color: gray;
    font-size: small;
    font-weight: 300;
}

/* article */

#more-article a {
    color: #fff;
}

#article-section {
    background-color: #164176;
    color: #fff;
}

#article-section h4 {
    font-weight: 500;
}

#article-section p {
    color: #fff;
    font-weight: lighter;
    font-size: medium;
}
#article-section h5 {
    color: #fff;
    font-weight: 500;
}

#article-box .card {
    background-color: #164176;
    color: #fff;
    border: none;
}

#article-box .card a {
    background-color: #f65403;
    border: none;
    color: #fff;
    font-size: medium;
    /* font-weight: lighter; */
}

/* footer */


#contain-footer {
    /* background-color: #ff8901; */
    background-color: #f65403;
    color: #fff;
}

#contain-footer h5 {
    font-weight: 300;
}

#container-footer > .row > .col-2 > p {
    font-size: smaller;
    font-weight: 100;
    word-wrap: break-word;
}

#archives-contain a {
    font-size: small;
    color: #FFFFFF;
    font-weight: lighter;
}

#archives-contain a:hover:not(.active) {
    color: #fff;
    /* font-weight: bold; */
    transform: scale(1.1);
}

#footer-copyright {
    background-color: #808080;
    height: 50px;
    color: #c5c6d0;
    font-weight: lighter;
    font-size: smaller;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#footer-smallsize {
    background-color: #f65403;
    display: flex;
    justify-content: center;
}

#footer-smallsize a {
    color: #fff;
    margin: 20px 15px;
}

#footer-smallsize svg {
    width: 30px;
    height: 30px;
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    z-index: 99;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #FFF;
    border-radius: 50%;
    border: none;
    color: #ff3900;
    display: grid;
    place-items: center;
}